@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #4b5563;
}
::-webkit-scrollbar-track-piece {
  background-color: #111827;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #4b5563;
  border-radius: 50px;
}

.headroom-wrapper {
  position: absolute;
  width: 100%;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0%);
  transition: transform 200ms ease-in-out;
}
.headroom--scrolled {
  position: fixed;

  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
